body{
	background-color: #EEEEEE;
}
.weather1>p:first-child{
	line-height: 0.1pt;
	color: #C0C0C0;
	font-family: 'Quicksand', sans-serif;
	font-size: 400%;
	text-align: left;
	transform: translate(-60px, 50px);
  
}
.weather1>p{
	line-height: 0.1pt;
	color: #EEEEEE;
	font-family: 'Quicksand', sans-serif;
	font-size: 200%;
	text-align: left;
	transform: translate(-60px, 25px);
  
}
.weather2>p:first-child{
	line-height: 0.1pt;
	color: #C0C0C0;
	font-family: 'Quicksand', sans-serif;
	font-size: 400%;
	text-align: left;
	transform: translate(-60px, 50px);
  
}
.weather2>p{
	line-height: 0.1pt;
	color: #EEEEEE;
	font-family: 'Quicksand', sans-serif;
	font-size: 200%;
	text-align: left;
	transform: translate(-60px, 25px);
  
}
.weather1 {
  transition: box-shadow .3s;
  height: 100px;
  width: 100px;
  position: absolute;
  left: 25%;
  top: 30%;
  background-color: #FFFFFF;
  padding: 100px;
  border-radius: 5px;
}
.weather1:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}
.weather2 {
  transition: box-shadow .3s;
  height: 100px;
  width: 100px;
  position: absolute;
  left: 55%;
  top: 30%;
  background-color: #FFFFFF;
  padding: 100px;
  border-radius: 5px;
  
}
.weather2:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}
.image1{
	position: absolute;
	left: 38%;
  	top: 33%;
  	z-index: 2;
}
.image2{
	position: absolute;
	left: 68%;
  	top: 33%;
  	z-index: 2;
}


